/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.trendItem[b-h1mzc7csv9] {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
}
.trendItem .up[b-h1mzc7csv9],
.trendItem .down[b-h1mzc7csv9] {
  position: relative;
  top: 1px;
  margin-left: 4px;
}
.trendItem .up span[b-h1mzc7csv9],
.trendItem .down span[b-h1mzc7csv9] {
  font-size: 12px;
  transform: scale(0.83);
}
.trendItem .up[b-h1mzc7csv9] {
  color: #f5222d;
}
.trendItem .down[b-h1mzc7csv9] {
  top: -1px;
  color: #52c41a;
}
.trendItem.trendItemGrey .up[b-h1mzc7csv9],
.trendItem.trendItemGrey .down[b-h1mzc7csv9] {
  color: rgba(0, 0, 0, 0.85);
}
.trendItem.reverseColor .up[b-h1mzc7csv9] {
  color: #52c41a;
}
.trendItem.reverseColor .down[b-h1mzc7csv9] {
  color: #f5222d;
}
