/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.main__b__3 .ant-descriptions-row > td[b-bllrfmxvfq] {
  padding-bottom: 8px;
}
.main__b__3 .ant-page-header-heading-extra[b-bllrfmxvfq] {
  flex-direction: column;
}
.headerList[b-bllrfmxvfq] {
  margin-bottom: 4px;
}
.headerList .ant-descriptions-row > td[b-bllrfmxvfq] {
  padding-bottom: 8px;
}
.headerList .stepDescription[b-bllrfmxvfq] {
  position: relative;
  left: 38px;
  padding-top: 8px;
  font-size: 14px;
  text-align: left;
}
.headerList .stepDescription > div[b-bllrfmxvfq] {
  margin-top: 8px;
  margin-bottom: 4px;
}
.pageHeader .ant-page-header-heading-extra > * + *[b-bllrfmxvfq] {
  margin-left: 8px;
}
.pageHeader .moreInfo[b-bllrfmxvfq] {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
@media screen and (max-width: 576px) {
  .stepDescription[b-bllrfmxvfq] {
    left: 8px;
  }
  .pageHeader .ant-pro-page-header-wrap-row[b-bllrfmxvfq] {
    flex-direction: column;
  }
}
