<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <MudItem Class="mx-auto">
                <MudItem Class="mx-auto d-flex">
                    <h1 style="font-size: 10vh" >404 Not Found</h1>
                </MudItem>
                
                <img src="https://cdn.dribbble.com/users/285475/screenshots/2083086/media/bbcfd1a1fecd97c1835792283a601f10.gif"/>
               
                <MudItem Class="mx-auto">
                    <h3 class="h2">
                                    		Look like you're lost
                                    		</h3>
                                    <p>the page you are looking for not avaible!</p>
                                    <a href="" style="color: #fff!important;
                                                                  padding: 10px 20px;
                                                                  background: #594ae2;
                                                                  margin: 20px 0;
                                                                  display: inline-block;}
                                                              	.contant_box_404{ margin-top:-50px};">Go to Home</a>
                </MudItem>
                
            </MudItem>
            
        </LayoutView>
    </NotFound>
</Router>